@media (min-width: 1400px) {
    .page .container {
        max-width: 1160px;
    }
}

@media(max-width: 1199px) {
    .cards-container {
        max-height: 274px;
    }
}

@media(max-width: 991px) {
    .order-1{
        position: fixed;
        top: 20px;
    }
    .header {
        background: url(../img/banner.png);
        text-align: center;
    }
    .responsive-banner-img {
        display: block;
    }
    .sub-menu {
        display: flex;
        margin: 0 auto;
        white-space: nowrap;
        flex-direction: column;
        align-items: flex-end;
    }
    .banner-btn {
        padding-bottom: 150px;
    }
    .test-text-banner {
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .line {
        width: 100%;
    }
    .nav-menu {
        display: none;
        background: #38BFF2;
        border-radius: 10px;
    }
    .sub-reg-menu>li:nth-child(1) {
        display: none;
    }
    .sub-menu{
        display: flex;
        align-items: center;
    }
    .parent-responsive-menu {
        display: flex;
        justify-content: space-between;
    }
    .sub-reg-menu {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        transform: translateY(-45px );
        margin: -15px;
        z-index: -1;
    }
    .responsive-menu {
        display: block;
        font-size: 33px;
        color: #F15525;
        cursor: pointer;
        transition: 0.3s;
        z-index: 2;
    }
    .responsive-menu:hover {
        color: #38BFF2;
    }
    .learn {
        text-align: center;
    }
    .about-bg {
        padding: 50px 70px 0 90px;
        text-align: center;
    }
    .what-learn h3 {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .lap-top-border {
        padding-left: 70px;
    }
    .youtube {
        height: 371px;
    }
    .suport-bg {
        text-align: center;
    }
    .ads-backgroung {
        text-align: center;
    }
    .ads-btn {
        padding-top: 30px;
    }
    .nav-footer-menu {
        justify-content: normal;
    }
    .sub-footer-menu li {
        padding-bottom: 10px;
    }
    .tel-email-info {
        padding-bottom: 15px;
    }
    .banner-btn a {
        padding: 18px 30px;
    }
    .btn-video a {
        padding: 18px 36px;
    }
    .ads-btn a {
        padding: 16px 26px;
    }
}

@media(max-width: 767px) {
    .banner {
        padding-top: 100px;
    }
    .learn {
        display: none;
    }
    .what-learn span {
        line-height: 54px;
        padding: 12px 47px;
    }
    .cards-container {
        max-height: 240px;
        padding: 30px 35px 31px 35px;
    }
    .lap-top-border {
        padding-left: 0;
    }
    .lap-top-border {
        background: none;
    }
    .youtube {
        height: 325px;
    }
    .video iframe {
        width: 583px;
        height: 325px;
        border: none;
        display: block;
        border-radius: 17px;
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
    .video{
        padding: 0 10px;
    }
}

@media(max-width: 529px) {
    .what-learn span {
        line-height: 54px;
        padding: 13px 30px;
    }
    .youtube {
        width: 464px;
        height: 258px;
    }
    .video iframe {
        width: 464px;
        height: 258px;
    }
}

@media(max-width: 400px) {
    .banner-text h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 46px;
        color: #22253B;
        padding-bottom: 30px;
    }
    .language {
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
    }
    .what-learn span {
        line-height: 20px;
        padding: 13px 10px;
        margin-bottom: 5px;
    }
    .educ-title h2 {
        font-size: 35px;
        line-height: 41px;
    }
    .video-title h2 {
        font-size: 32px;
        line-height: 43px;
    }
    .youtube {
        width: 292px;
        height: 162px;
    }
    .start-test {
        display: flex;
        flex-direction: column;
    }
    .btn-video {
        padding-right: 0;
        white-space: nowrap;
        padding-bottom: 40px;
    }
}